@import "tailwindcss";

* {
  outline: 1px solid red;
}

@theme inline {
  /* Couleurs */
  --color-primary: #5D31FF;
  --color-accent: #C7FF39;
  --color-danger: #FF4900;
  --color-muted: #EAEAEA;
  --color-foreground: #1B1919;
  --color-surface: #F4F4F4;
  --color-input: #CEC5EE;
  --color-background: #FFFFFF;

  /* Typographies */
  --font-sans: var(--font-dm-sans);
  --font-heading: var(--font-unbounded);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
